spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/zreview
    username: root
    password: zreview
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true


  springdoc:
    swagger-ui:
      path: /swagger-ui.html
      groups-order: DESC
      operationsSorter: method
      disable-swagger-default-url: true
      display-request-duration: true
    api-docs:
      path: /api-docs
    show-actuator: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json
    paths-to-match:
      - /v1/**

cloud:
  aws:
    credentials:
      access-key: access-key        # AWS IAM AccessKey 적기
      secret-key: secret-key    # AWS IAM SecretKey 적기
    s3:
      bucket: zreview-bucket    # ex) marryting-gyunny
    region:
      static: ap-northeast-2
    stack:
      auto: false
